@import "../lib/bootstrap/less/bootstrap.less";

/*Navbar*/
.navbar {
  margin: 0;
  background-color: #0c1a1e;
  border: none;
  border-radius: 0;

  /*Navbar Header*/
  .navbar-header {

    /*Navbar Toggle Button*/
    .navbar-toggle {
      border-color: #fff;
      float: left;
      margin-left: 15px;

      .icon-bar {
        background-color: #fff;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  /*Navbar First Dropdown Container*/
  .navbar-collapse {
    border: none;
  }

  /*Navbar First UL Dropdown*/
  .navbar-nav {
    border: none;
    padding: 0;

    li {
      
      a {
        color: #fff;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;

        &:hover, &:focus {
          background-color: #6e6e6e;
          color: orange;
        }
      }
    }

    /*Navbar Nested UL Dropdown*/
    .dropdown {

      .dropdown-toggle {

        &:focus {
          color: orange;
          background-color: #6e6e6e;
        }
      }

      .dropdown-menu {
        background-color: #0c1a1e;

        li {
      
          a {
            color: #fff;
            padding-left: 15px;

            &:hover, &:focus {
              background-color: #6e6e6e;
              color: orange;
            }
          }
        }
      }
    }

  }

}
/*--------------*/

/*Jumbotron*/
.jumbotron {
  margin-bottom: 0;
}
/*--------------*/

/*Main*/
.main {

  .imagewrapper {

    #heroimage {
      width: 100%;
      height: auto;
    }
  }
}

/*Article*/
.article {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000;
  color: #fff;

  .herotext {
    padding-bottom: 30px;
    
    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1.6em;
    }
  }

  /*Thumbnail Container*/
  .tn-container {
    margin-top: 40px;

    /*Makes sure the nested images keep their aspect ratio within this wrapper*/
    .aspectratio {
      width: 100%;
      padding-bottom: 100%;
      position: relative;

      /*Makes sure that the elements nested withing the aspect ratio wrapper doesnt stretch the div*/
      .contentwrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        a {
          text-decoration: none;
          color: #fff;

          img {
            /*Set the height to 80% of parent size. Stretches image a bit, but makes containers equal size and repsonsive*/
            height: 80%;
            /*Vertically aligns the image in the remaining container space*/
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            border-radius: 15px;
          }

          h4 {
            /*Margin set to the rest of container size. In this case 10% above and below the image*/
            margin-top: 10%;
          }
        }
      }
    }
  }
  
}
/*--------------*/

/*Cases*/
.cases {
  padding-bottom: 30px;
  background-color: #000;

  a {
    text-decoration: none;
    color: #fff;

    img {
      margin: 0 auto;
    }
  }
}
/*--------------*/

/*Footer*/
.footer {
  color: white;
  background-color: #0c1a1e;
  min-height: 350px;

  /*General padding that pushes the content together*/
  .address, .links, .posts, .socialmedia {
    padding: 0 10%;
  }
  /*------------------*/

  /*General margin between sections*/
  .address, .links, .posts, .socialmedia {
    margin-top: 20px;
  }
  /*------------------*/

  /*General fontsize for address and posts*/
  .address, .posts p {
    font-size: 0.9em;
  }
  /*------------------*/

  /*Links*/
  .links {

    h4 {
      padding-top: 14px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 2px 0 0 0;

        a {

          &:hover {
            text-decoration: none;
            color: orange;
          }
        }
      }
    }
  }
  /*------------------*/

  /*Socialmedia*/
  .socialmedia {

    .socialmediaimg {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    a:hover {
      text-decoration: none;
      color: orange;
    }
  }
  /*------------------*/

}
/*--------------*/

@media(max-width: 450px){
  .article {

    h2 {
      font-size: 1.5em;
    }

    .herotext {

      h1 {
        font-size: 2.3em;
      }

      p {
        font-size: 1.1em;
      }
    }
  }
}

@media(min-width: 768px){
  .article {

    .tn-container {

      .aspectratio {

        .contentwrapper {

          a {

            img {
              height: 60%;
            }

            h4 {
              margin-top: 20%;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 992px){

  /*Footer*/
  .footer {

    /*General padding that pushes the content together*/
    .address, .links, .posts, .socialmedia {
      padding: 0 3% 0 7%;
    }
    /*------------------*/

  }
  /*------------------*/
}